<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Perfil | Pixel Shop'}) %> 

<body class="" >
    <%- include('./partials/header') %>
    <div class="main_login-contenedor-principal" id="home__main">
        <form action="/product/result" method="GET">
            <div class="Busqueda-noindex Busqueda">
                <input type="text" name="keyword" placeholder="Buscar videojuegos, marcas...">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
        <main class="main_register">
            <section>
                <h2>Perfil de usuario</h2>
            </section>
            <section>
                <form action="/users/update-profile?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="forms-datos">
                        <div class="datos">
                            <label for="nombre" >Nombre</label>
                            <input class="main_register__input" type="text" name="nombre" id="nombre" placeholder=" nombre" value="<%= usuario.nombre %>" >
                            <p style="color: rgb(68, 15, 8);"><%= locals.errors && errors.nombre ? locals.errors.nombre.msg : null %></p>
                        </div>
        
                        <div class="datos">
                            <label for="apellido">Apellido</label>
                            <input class="main_register__input" type="text" name="apellido" id="apellido" placeholder=" apellido" value="<%= usuario.apellido %>" >
                            <p style="color: rgb(68, 15, 8);"><%= locals.errors && errors.apellido ? locals.errors.apellido.msg : null %></p>
                        </div>
        
                        <div class="datos">
                            <label for="tel">Número de celular </label>
                            <input class="main_register__input" type="tel" name="tel" id="tel" placeholder=" número de celular" value="<%= usuario.tel %>">
                            <p style="color: rgb(68, 15, 8);"><%= locals.errors && errors.tel ? locals.errors.tel.msg : null %></p>
                        </div>
        
                        <div class="datos">
                            <label for="email">Correo electrónico</label>
                            <input class="main_register__input" type="email" name="email" id="email" placeholder=" email" value="<%= usuario.email %>" >
                            <p style="color: rgb(68, 15, 8);"><%= locals.errors && errors.email ? locals.errors.email.msg : null %></p>
                        </div>
        
                        
                        <div class="datos">
                            <label for="fecha">Fecha de nacimiento</label>
                            <input class="main_register__input" type="date" name="fecha" id="fecha" value="<%= fecha %>" >
                        </div>
                        <div class="datos">
                        <label for="">Género</label>
                        <section class="section__genero">
                            <div id="genero">
                                <div>
                                    <input class="main_register__input" type="radio" id="fem" name="genero" value="femenino" <%= usuario.genero && usuario.genero === "femenino" ? 'checked' : null %>>
                                    <label for="fem">Femenino</label>
                                </div>
                                <div>
                                    <input class="main_register__input" type="radio" id="mas" name="genero" value="masculino" <%= usuario.genero && usuario.genero === "masculino" ? 'checked' : null %>>
                                    <label for="mas">Masculino</label>
                                </div>
                                <div>
                                    <input class="main_register__input" type="radio" id="otro" name="genero" value="otros" <%= usuario.genero && usuario.genero === "otros" ? 'checked' : null %>>
                                    <label for="otro">Otros</label>
                                </div>
                            </div>
                        </section>
                        </div>
                        <div  class="datos">
                            <label for="imagenPerfil">Foto de perfil</label>
                            <input class="main_register__input" type="file" id="" name="imagenPerfil" accept="image/*">
                        </div>
                        <div class="datos">
                            <label for="contraseña">Contraseña antigua</label>
                            <input class="main_register__input" type="password" name="passAntiguo" id="contraseña" placeholder=" contraseña antigua" >
                            <p style="color: rgb(68, 15, 8);"><%= locals.errors && errors.passAntiguo ? locals.errors.passAntiguo.msg : null %></p>
                        </div>
                        <div class="datos">
                            <label for="contraseña">Contraseña nueva</label>
                            <input  class="main_register__input" type="password" name="nuevaPass1" id="contraseña" placeholder=" contraseña nueva" value="" >
                            <p style="color: rgb(68, 15, 8);"><%= locals.errors && errors.nuevaPass1 ? locals.errors.nuevaPass1.msg : null %></p>
                        </div>
                        <div class="datos">
                            <label for="contraseña">Repite tu contraseña nueva</label>
                            <input class="main_register__input" type="password" name="nuevaPass2" id="contraseña" placeholder=" Repite tu contraseña" value="" >
                        </div>
                    </div>
                    <div class="button">
                        <button type="submit">Guardar</button>
                        <button><a class="text-white" href="/users/profile">Cancelar</a></button>      
                    </div>
                </form>
        </section>
        </main>
        <%- include('./partials/footer') %> 
    </div>
</body>
</html>