<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: 'Editar Producto | Pixel Shop'}) %> 
<body  class="form__body">
   <%- include('./partials/header') %>
    <main class="form__main">
        <h2>Editar producto</h2>
        <form class="form" method="POST" action="/product/update/<%= product.id %>?_method=PUT"  enctype="multipart/form-data">
            <div>
                <label for="name">Nombre del producto</label>
                <input type="text" name="name" id="name" value="<%= product.name %>">
                <span id="errorName" style="color: #6e0707;"><%= locals.errores && errores.name ? errores.name.msg : null %></span>
            </div>
            <div class="">
                <label for="description">Descripción del producto</label>
                <textarea type="text"id="description" name="description" cols="30" rows="10"><%= product.description %></textarea>
                <span id="errorDesc" style="color: #6e0707;"><%= locals.errores && errores.description ? errores.description.msg : null %></span>
            </div>
            <div class="">
                <input type="file" name="img">
                <img src="/images/<%= product.img %>" alt="">
                <span style="color: #6e0707;"><%= locals.errores && errores.img? errores.img.msg : null %></span>
            </div>
            <h4>Géneros de juego</h4>
            <div class="gender">
                <% genders.forEach( ({id,name}) => { %>
                    <div class="gender__div">
                        <input class="" type="checkbox" name="genres" id="genres" value="<%= id %>" <% generosJ.forEach((element) => { %>
                            <%= element.genderId === id && 'checked'%>
                    <% }) %>>
                        <label for="genres"><%=name%></label>
                    </div>
                <% }) %>
                <span style="color: #6e0707;"><%= locals.errores && errores.genres ? errores.genres.msg : null %></span>
            </div>
            <div class="">
                <label for="price">Precio del producto</label>
                <input type="number" name="price" id="price" value="<%= product.price %>">
                <span id="errorPrice" style="color: #6e0707;"><%= locals.errores && errores.price ? errores.price.msg : null %></span>
            </div>
            <div class="">
                <label for="discount">Descuento</label>
                <input type="number" name="discount" id="discount" value="<%= product.discount %>">
                <span id="errorDiscount" style="color: #6e0707;"><%= locals.errores && errores.discount ? errores.discount.msg : null %></span>
            </div>
            <div class="">
                <label for="ranking">Ranking</label>
                <input type="number" name="ranking" id="ranking" value="<%= product.ranking %>">
                <span id="errorRanking" style="color: #6e0707;"><%= locals.errores && errores.ranking? errores.ranking.msg : null %></span>
            </div>
            <div>
                <button type="submit">Editar</button>
            </div>
        </form>
    </main>
    <script src="/js/productEdit.js"></script>
</body>
</html>