<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: 'Editar Producto | Pixel Shop'}) %> 
<body  class="form__body">
   <%- include('./partials/header') %>
    <main class="form__main">
        <h2>Editar producto</h2>
        <form class="form" method="POST" action="/product/update/<%= product.id %>?_method=PUT"  enctype="multipart/form-data" >
            <div>
                <label for="name">Nombre del producto</label>
                <input type="text" name="name" id="name" value="<%= product.name %>" required>
            </div>
            <div class="">
                <label for="description">Descripción del producto</label>
                <textarea type="text"id="description" name="description" cols="30" rows="10" required><%= product.description %></textarea>
            </div>
            <div class="">
                <input type="file" name="img" multiple >
                <img src="/images/<%= product.img %>" alt="">
            </div>
            <h4>Géneros de juego</h4>
            <div class="gender">
                <% genders.forEach( ({id,name}, index) => { %>
                    <div class="gender__div">
                        <input class="" type="checkbox" name="gender" id="<%= index %>" value="<%= name %>">
                        <label for="<%= index %>"><%=name%></label>
                    </div>
                <% }) %>
            </div>
            <div class="">
                <label for="price">Precio del producto</label>
                <input type="number" name="price" id="price" value="<%= product.price %>" required>
            </div>
            <div class="">
                <label for="discount">Descuento</label>
                <input type="number" name="discount" id="discount" value="<%= product.discount %>">
            </div>
            <div class="">
                <label for="ranking">Ranking</label>
                <input type="number" name="ranking" id="ranking" value="<%= product.ranking %>" max="10" min="0" required>
            </div>
            <div>
                <button type="submit">Editar</button>
            </div>
        </form>
    </main>
</body>
</html>