<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: 'Home | Pixel Shop'}) %> 
<body class="home">
   <%- include('./partials/header') %> 
    <main class="home__main">
        <!-- Banner -->
        <section>
            <article class="home__main__banner">
                <video autoplay="autoplay" loop="loop" muted defaultMuted playsinline preload="auto"  id="miVideo">
                    <source src="/videos/videoplayback.webm" type="video/mp4">
                    <source src="/videos/videoplayback.webm" type="video/webm">
                    </video>
            </article>
        </section>
        <h4>OFERTAS ESPECIALES <i class="fa-solid fa-tag"></i></h4>
        <!-- Ofertas especiales -->
        <section class="home__main__offer">
            <% products.forEach(({id, name, price, discount, img}) => { %>             
            <article>
                <a href="/product/detail/<%= id %>"><img src="images/<%= img %>" alt="" width="100%"></a>
                <div class="details">
                    <p>$<%= price %></p>
                    <span><%= discount %> OFF</span>
                    <div>
                        <i class="fas fa-cart-plus"></i>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
            </article>
            <% }) %>
        </section>
        <!-- Destacados -->
        <h4>DESTACADOS <i class="fa-solid fa-heart"></i></h4>
        <section class="home__main__featured">
            <% for( let index = 0; index < 2; index++ ) { %>
            <article>
                <p>popularidad: 
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </p>
                <a href="/product/detail/<%= products.id %>"><img src="images/<%= products[index].img %>" alt="" width="100%"></a>
            </article>
            <% } %>
            <div class="carousel">
                <i class="fas fa-dot-circle"></i>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
            </div>
        </section>
        <!-- Publicidad (desactivar adblock para ver :) -->
        <div class="home__main__publicidad">
            <a href="https://playground.digitalhouse.com/"><img src="/images/publicidad.jpg" alt="" width="100%"></a>
        </div>
        <!-- Recomendados -->
        <h4>RECOMENDADOS <i class="fa-solid fa-thumbs-up"></i></h4>
        <section class="home__main__recommended">
            <% products.forEach((product, indice, array) => { %>        
                <article>
                    <img src="/images/<%= array[indice].img %>" alt="" width="100%"></a>
                    <h5>Reseña popular</h5>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis maiores hic reiciendis quidem quasi obcaecati aut minima perspiciatis repellat! Asperiores obcaecati odit excepturi nobis eius modi voluptas saepe quos tempore!</p>
                    <a href="/product/detail">Ver mas</a>
                </article>
            <% }) %>
        </section>     
        <div class="home__main__continue">
            <a href="/">Seguir explorando</a><!-- Desplegar más productos o abrir una nueva pág-->
        </div>
        <br>
    </main>
   <%- include('./partials/footer') %> 
</body>
</html>
