<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Lista de usuarios | Pixel Shop'}) %> 
    <body>
       <%- include('./partials/header') %>
    <main class="col-12 col-md-10 col-lg-8 mx-auto">
      <h3 >Usuarios</h3>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Rol</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <th scope="row"><%= user.id %> </th>
          <td><%= user.nombre %></td>
          <td><%= user.apellido %></td>
          <td><%= user.rolId %></td>
        </tr>
        
      <% }) %>
    </tbody>
  </table>
  
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  
</main>
<%- include('./partials/footer') %>
</body>
</html>