<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: 'Resultados | Pixel Shop'}) %> 
<body class="home">
   <%- include('./partials/header') %>
   <div class="main_login-contenedor-principal" id="home__main">
       <div id="busqueda">
           <input type="text" name="keyword" placeholder="Buscar videojuegos, marcas...">
           <button><i class="fa-solid fa-magnifying-glass"></i></button>
       </div>
       <main class="home__main">
           <h2  class="search-result">RESULTADO DE LA BÚSQUEDA: "<%= keyword %>"</h2>
           <section class="home__main__offer">
               <% if (products != null) { %>             
                   <% products.forEach(({id, name, price, discount, img}) => { %>             
                       <article>
                           <a href="/product/detail/<%= id %>"><img src="/images/<%= img %>" alt=""></a>
                           <div class="details">
                               <p>$<%= price %></p>
                               <span><%= discount %> OFF</span>
                               <div>
                                   <i class="fas fa-cart-plus"></i>
                                   <i class="fa-regular fa-heart"></i>
                               </div>
                           </div>
                       </article>
                       <% }) %>
                       <% }else{%>
                           <h4>No se encontraron resultados</h4>
                       <% } %>
           </section>
       </main>
      <%- include('./partials/footer') %> 
   </div>
</body>
</html>